<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- header -->
    {% include 'components/header.html' %}

    <!-- main -->
    <main>
      <!-- section1 == banner -->
      {% include 'components/banner.html' %}

      <!-- section2 == service feature-->
      {% include 'components/feature.html' %}

      <!-- section3 == packages-->
      {% include 'components/packages.html' %}

      <!-- section3 == detail -->
      {% include 'components/detail.html' %}
    </main>

    <!-- footer -->
    {% include 'components/footer.html' %}
  <script src="assets\js\bootstrap.bundle.min.js"></script>
</body>
</html>