<div class="border-top"></div>

<div class="container banner-tech">
  <div class="row justify-content-center text-center">
    <div class="col-md-3">
      <div class="tech-logo-wrapper">
        <img src="../../assets/images/zendguard-logo.png" alt="Zendguard" class="img-fluid">
      </div>
      <p>PHP Zend Guard Loader</p>
    </div>
    <div class="col-md-3">
      <div class="tech-logo-wrapper">
        <img src="../../assets/images/composer-logo.png" alt="Composer" class="img-fluid">
      </div>
      <p>PHP Composer</p>
    </div>
    <div class="col-md-3">
      <div class="tech-logo-wrapper">
        <img src="../../assets/images/ioncube-logo.png" alt="IonCube" class="img-fluid">
      </div>
      <p>PHP IonCube Loader</p>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="text-center packages-title">
    <h2>Paket Hosting Singapura yang tepat</h2>
    <h3>Diskon 40% + Domain dan SSL gratis untuk Anda</h3>
  </div>
</div>